@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  --background: #fdfcfa;

  background: var(--background);
  @apply text-zinc-700;
  max-width: 100%;
  overflow-x: hidden;
}

main#landing {
  position: relative;
  z-index: 10;
  background: linear-gradient(#e8e8e8, #f8f8f8 30px, var(--background) 75px);
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
}

h1 {
  @apply text-5xl md:text-7xl text-teal-700 font-bold mb-5;
}

h2 {
  @apply text-4xl md:text-5xl text-teal-600 font-semibold mt-4 mb-3;
}

h3 {
  @apply text-3xl md:text-4xl text-teal-700 font-semibold mt-4 mb-3;
}

h4 {
  @apply text-2xl md:text-3xl text-teal-700 font-normal mt-4 mb-3;
}

p {
  @apply text-zinc-700;
}

hr {
  @apply mb-6;
}

section {
  @apply mt-20 md:mt-16;
}

a {
  @apply text-teal-700 hover:underline decoration-orange-400 underline-offset-2 decoration-[0.1em];
}

ul {
  @apply text-zinc-700;
}

header {
  position: relative;
  z-index: 0;

  @apply h-screen lg:h-[200vh];
}

footer {
  position: relative;
  background-color: var(--background);
  z-index: 10;

  @apply mt-16 mb-20;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-wrapper-parallax {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @apply relative lg:fixed;
}

.hero-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23ffffff' fill-opacity='0.22' fill-rule='evenodd'/%3E%3C/svg%3E");

  @apply h-screen lg:h-screen;
}

.hero-container {
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  @apply max-w-screen-lg lg:max-w-screen-xl mx-auto px-6 lg:px-10 w-full pointer-events-auto;
}

.hero-container .socials {
  @apply ml-1;
}

.hero-headline {
  @apply text-xl md:text-5xl font-mono mb-4;
}

.hero-intro {
  @apply mb-4;
}

.cta {
  @apply text-teal-800 bg-teal-100 px-4 py-2 font-medium rounded-md decoration-teal-800;
}

.cta-subtle {
  @apply text-teal-700 bg-teal-50 ring-teal-600 ring-[1px] px-4 py-2 font-medium rounded-md decoration-teal-800 decoration-1;
}

.hero-cta-container .cta {
  @apply pointer-events-none animate-bounce;
}

#page-contents {
  @apply max-w-screen-lg mx-auto px-6 md:px-12 lg:px-16 pt-16 lg:pt-32 pb-0;
}

#about p {
  @apply mt-3 lg:mt-4;
}

#projects p {
  @apply mb-4 lg:mb-3;
}

#socials a {
  @apply text-base text-stone-600 font-mono hover:underline flex items-center transition-all hover:text-neutral-800;
}

#socials a p {
  @apply m-0 ml-2 h-7 text-base text-stone-600 transition-all hover:text-neutral-800;
}

section p {
  @apply lg:text-lg;
}

.project-showcase {
  @apply mt-10 lg:mt-12 flex flex-col gap-[4rem] lg:gap-[6rem];
}

.project-showcase h3 {
  @apply text-2xl lg:text-3xl m-0;
}

.project-image {
  @apply rounded-md shadow-xl;
}

.project-title {
  @apply hover:underline decoration-teal-700 underline-offset-4;
}

.project-container {
  @apply mt-4 lg:mt-6 flex flex-col lg:flex-row gap-6;
}

.project-details {
  @apply w-full lg:w-[70%];
}

.project-summary {
  @apply text-base lg:text-lg;
}

.project-summary a {
  @apply hover:underline;
}

.technologies span {
  @apply text-slate-500 text-sm font-mono bg-white ring-[1px] ring-slate-300 rounded-md px-2 leading-8 mr-2 my-1 inline-block text-center;
}

.polaroid-gallery {
  @apply mt-10 px-5 lg:px-0 items-center flex flex-col sm:flex-row gap-10;
}

.polaroid-container {
  @apply p-2 border-[1px] h-full max-w-[300px] rounded-sm inline-block bg-white shadow-lg pointer-events-none;
}

.polaroid-container p {
  @apply px-1 text-center !text-3xl !my-1;
}

.polaroid {
  display: inline-block;
  position: relative;
}

.polaroid img {
  @apply block w-full rounded-sm;
}

.polaroid:after {
  content: "";
  background: radial-gradient(
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0.2) 100%
  );
  @apply absolute top-0 left-0 w-full h-full block rounded-sm;
}
